.headings {
  height: 520px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 120px;
  background-color: #bbc7ec;
  background-image: url("https://www.transparenttextures.com/patterns/back-pattern.png");
}

header h2 {
  margin-top: 5px;
}

@media only screen and (width >= 1024px) {
  .headings {
    display: flex;
    justify-content: flex-end;
    align-content: stretch;
    flex-wrap: nowrap;
    margin: 50px;
    margin-top: 200px;
    width: 40%;
    height: 400px;
    flex-direction: column;
  }
}