nav {
  display: flex;
  position: fixed;
  height: 120px;
  width: 100%;
  background-color: #bbc7ec;
  color: #FFF;
  padding-left: 1.5em;
  padding-right: 1.5em;
  align-items: center;
  justify-content: space-between;
  background-image: url("https://www.transparenttextures.com/patterns/back-pattern.png");
  top: 0;
  left: 0;
}

#heading {
  font-size: 40px;
  font-family: "Bungee", sans-serif;
}

#heading-right {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#heading-right span {
  margin-right: 0.2em;
}

#heading-right i {
  color: red;
}

#header-icon {
  margin-top: 0.01em;
}

.fa-solid.fa-angles-down {
  transition: transform 0.3s ease-in-out;
  /* Define the transition effect */
}

.fa-solid.fa-angles-down:hover {
  transform: translateY(5px);
  /* Rotate the icon on hover */
}

@media only screen and (width >=1024px) {
  nav {
    background-color: #4056A1;
    background-image: none;
  }
}

@media (max-width: 486px) {
  nav {
    font-size: 20px;
    /* Decreased font size for smaller viewports */
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  nav>span {
    margin: 10px;
  }

}