nav {
  display: flex;
  height: 120px;
  width: 100%;
  background-color: #4056A1;
  color: #FFF;
  padding-left: 1.5em;
  padding-right: 1.5em;
  align-items: center;
  justify-content: space-between;
}

#heading {
  font-size: 40px;
}

#heading-right {
  display: flex;
  flex-direction: column;
  align-items: center;
}
  
#heading-right span {
  margin-right: 0.2em; 
}
#heading-right i {
  color: red;
}

#header-icon {
  margin-top: 0.01em; 
}