.tweet {
  background-color: inherit;
  border: 3px solid #545149;
  padding:0.75em;
  margin-bottom: 2em;
}

.tweet:hover {
  box-shadow: 8px 8px #a3b0db;
}

.tweet-header, .tweet-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
 }

 .tweet-header {
  block-size: 2em;
 }

.tweet-person { 
  display: flex;
  align-items: inherit;
}

.tweet-avatar{
  block-size: 3em;
}

.tweet-handle{
  display: flex;
  align-items: inherit;
  color: #B2BBD9;
}

.tweet-tweet {
  padding-top: 10px;
}

.tweet-border{
  border-top: 3px solid #545149;
  display: flex;
  align-content: center;
}

.tweet-footer{
  padding-inline: 0.5em;
  font-size: 0.75em;
  block-size: 1.25em;
  margin-top: 0.5em;
}

.tweet-icons {
  width: 75%;
}

i:hover {
  color: #4056A1;
}